{% extends "shared/base.html" %}
{% block title %}{{ block.super }}&nbsp;|&nbsp;Reviews{% endblock %}
{% block nav_reviews %}class="active"{% endblock %}
{% block content %}
<div class="page-header">
	<h1>Reviews</h1>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th style="width:15px;"></th>
			<th>Game</th>
			<th>Author</th>
			<th>Created</th>
			<th>Rating</th>
			<th>Content</th>
		</tr>
	</thead>
	<tbody>
{% for review in review_list %}
		<tr>
			<td><a class="icon-info-sign" href="{% url reviews_review_details review.id %}"></a></td>
			<td>{{ review.game.title }}</td>
			<td>{{ review.author.username }}</td>
			<td>{{ review.date_created|date:"F j, Y, H:i" }}</td>
			<td>{{ review.rating }}</td>
			<td>{{ review.content|truncatechars:10 }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
<a href="{% url reviews_review_create %}">Write a review</a>
{% endblock %}