{% extends "shared/base.html" %}
{% block title %}{{ block.super }}&nbsp;|&nbsp;{{ company.name }}{% endblock %}
{% block content %}
<div class="page-header">
	<h1>{{ company.name }}</h1>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<td>{{ company.name }}</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Website</th>
			<td>{{ company.website|urlize }}</td>
		</tr>
	</tbody>
</table>
<h2>Games Released</h2>
<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Platforms</th>
			<th>Genre</th>
			<th>Release Date</th>
			<th>Publisher</th>
			<th>Developer</th>
		</tr>
	</thead>
	<tbody>
{% for game in company.games_released %}
		<tr>
			<td><a href="{% url games_game_details game.id %}">{{ game.title }}</a></td>
			<td>{{ game.get_platforms }}</td>
			<td>{{ game.genre }}</td>
			<td>{{ game.release_date }}</td>
			<td><a href="{% url games_company_details game.publisher.id %}">{{ game.publisher }}</a></td>
			<td><a href="{% url games_company_details game.developer.id %}">{{ game.developer }}</a></td>
		</tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}