{% extends "shared/base.html" %}
{% block title %}{{ block.super }}&nbsp;|&nbsp;{{ game.title }}{% endblock %}
{% block content %}
<h1>{{ game.title }}</h1>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<td>{{ game.title }}</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Platform</th>
			<td>{{ game.platform }}</td>
		</tr>
		<tr>
			<th>Genre</th>
			<td>{{ game.genre }}</td>
		</tr>
		<tr>
			<th>Release date</th>
			<td>{{ game.release_date }}</td>
		</tr>
		<tr>
			<th>Publisher</th>
			<td>{{ game.publisher }}</td>
		</tr>
		<tr>
			<th>Developer</th>
			<td>{{ game.developer }}</td>
		</tr>
	</tbody>
</table>
<a href="{% url games.index %}">Back to list</a>
{% endblock %}