{% extends "shared/base.html" %}
{% block title %}{{ block.super }}&nbsp;|&nbsp;Games{% endblock %}
{% block nav_games %}class="active"{% endblock %}
{% block content %}
<div class="page-header">
	<h1>Games</h1>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Platforms</th>
			<th>Genre</th>
			<th>Release Date</th>
			<th>Publisher</th>
			<th>Developer</th>
			<th>Rating</th>
			{% if user.is_authenticated %}
			<th></th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
{% for game in game_list %}
		<tr>
			<td><a href="{% url games_game_details game.id %}">{{ game.title }}</a></td>
			<td>{{ game.get_platforms }}</td>
			<td>{{ game.genre }}</td>
			<td>{{ game.release_date }}</td>
			<td><a href="{% url games_company_details game.publisher.id %}">{{ game.publisher }}</a></td>
			<td><a href="{% url games_company_details game.developer.id %}">{{ game.developer }}</a></td>
			<td>{{ game.get_user_rating }}</td>
			{% if user.is_authenticated %}
			<td><a href="{% url lists_listitem_create user.username game.id %}" class="icon-plus-sign"></a></td>
			{% endif %}
		</tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}