{% extends "shared/base.html" %}
{% block title %}{{ block.super }}&nbsp;|&nbsp;{{ game.title }}{% endblock %}
{% block content %}
<div class="page-header">
	<h1>{{ game.title }}</h1>
</div>
<div class="row">
	<div class="span3">
		<a href="{{ game.boxart_url }}" class="thumbnail">
			<img src="{{ game.boxart_url }}"></img>
		</a>
	</div>
	<div class="span9">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<td>{{ game.title }}</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Platforms</th>
					<td>{{ game.get_platforms }}</td>
				</tr>
				<tr>
					<th>Genre</th>
					<td>{{ game.genre }}</td>
				</tr>
				<tr>
					<th>Release date</th>
					<td>{{ game.release_date }}</td>
				</tr>
				<tr>
					<th>Publisher</th>
					<td><a href="{% url games_company_details game.publisher.id %}">{{ game.publisher }}</a></td>
				</tr>
				<tr>
					<th>Developer</th>
					<td><a href="{% url games_company_details game.developer.id %}">{{ game.developer }}</a></td>
				</tr>
				<tr>
					<th>Tags</th>
					<td>{{ game.get_tags }}</td>
				</tr>
				<tr>
					<th>User Rating</th>
					<td>{{ game.get_user_rating|floatformat:1 }}</td>
				</tr>
			</tbody>
		</table>
		{% if user.is_authenticated %}
		{% if game in user.list.get_games %}
		<a href="{% url lists_listitem_delete user.username game.id %}" class="btn btn-small"><i class="icon-minus-sign" style="vertical-align:text-bottom;"></i> Remove from List</a>
		<a href="{% url lists_listitem_update user.username game.id %}" class="btn btn-small"><i class="icon-edit" style="vertical-align:text-bottom;"></i> Edit Entry</a>
		{% else %}
		<a href="{% url lists_listitem_create user.username game.id %}" class="btn btn-small"><i class="icon-plus-sign" style="vertical-align:text-bottom;"></i> Add to List</a>
		{% endif %}
		{% endif %}
	</div>
</div>
</br>
<div class="row">
	<div class="span12">
		{% if game.screenshot_set.all %}
		<h2>Screenshots</h2>
		</br>
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				{% for scr in game.screenshot_set.all %}
				{% if forloop.counter == 1 %}
				<div class="active item"><img src="{{ scr.url }}" style="height:529px;margin:auto;"></img></div>
				{% else %}
				<div class="item"><img src="{{ scr.url }}" style="height:529px;margin:auto;"></img></div>
				{% endif %}
				{% endfor %}
			</div>
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
		{% endif %}
	</div>
</div>
<div class="row">
	<div class="span6">
		<h2>Reviews</h2><br />
		{% if game.review_set.all %}
		{% for review in game.review_set.all %}
		<div class="span5 well">
			<p>
				<h4><a href="{% url profiles_user_details review.author.username %}">{{ review.author.username}}</a>
					<small>on {{ review.date_created }}</small>
				</h4>
				Rating: {{ review.rating }}
			</p>
			<a style="color:#333;"href="{% url reviews_review_details review.id %}">{{ review.content|truncatechars:300}}</a>
		</div>
		{% endfor %}
		{% else %}
		<div class="span5 well">No reviews yet.</div>
		{% endif %}
	</div>
	<div class="span6">
		<h2>Recommendations</h2><br />
		{% if related_userrecs %}
		{% for userrec in related_userrecs %}
		<div class="span5 well">
			<p>
				<strong>If you liked</strong> <a href="{% url games_game_details game.id %}">{{ game.title }}</a><br />
				<strong>You might like</strong> 
				{% if userrec.game1 == game %}
				<a href="{% url games_game_details userrec.game2.id %}">{{ userrec.game2.title }}</a>
				{% else %}
				<a href="{% url games_game_details userrec.game1.id %}">{{ userrec.game1.title }}</a>
				{% endif %}
			</p>
			<p>
				<a style="color:#333;" href="{% url recs_userrec_details userrec.id %}">{{ userrec.content|truncatechars:300 }}</a>
			</p>
			<h5>
				<small>by <a href="{% url profiles_user_details userrec.author.username %}">{{ userrec.author.username }}</a></small>
			</h5>
		</div>
		{% endfor %}
		{% else %}
		<div class="span5 well">No recommendations yet.</div>
		{% endif %}
	</div>
</div>
<a href="{% url games_game_index %}">Back to list</a>
{% endblock %}