{% extends "shared/base.html" %}
{% block title %}{{ block.super }}&nbsp;|&nbsp;{{ game.title }}{% endblock %}
{% block content %}
<div class="page-header">
	<h1>{{ game.title }}</h1>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<td>{{ game.title }}</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Platform</th>
			<td>{{ game.platform }}</td>
		</tr>
		<tr>
			<th>Genre</th>
			<td>{{ game.genre }}</td>
		</tr>
		<tr>
			<th>Release date</th>
			<td>{{ game.release_date }}</td>
		</tr>
		<tr>
			<th>Publisher</th>
			<td>{{ game.publisher }}</td>
		</tr>
		<tr>
			<th>Developer</th>
			<td>{{ game.developer }}</td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="span6">
		<h2>Reviews</h2><br />
		{% if game.review_set.all %}
		{% for review in game.review_set.all %}
		<div class="span5 well">
			<h4>{{ review.author.username}}
				<small>on {{ review.date_created }}</small>
			</h4>
			<i>Rating: {{ review.rating }}</i></br>
			<i><a style="color:#333;"href="{% url reviews_review_details review.id %}">{{ review.content|truncatechars:300}}</a></i>
		</div>
		{% endfor %}
		{% else %}
		<div class="span5 well">No reviews yet.</div>
		{% endif %}
	</div>
	<div class="span6">
		<h2>Reviews</h2><br />
		{% if related_userrecs %}
		{% for userrec in related_userrecs %}
		<div class="span5 well">
			<p>
			<strong>If you liked</strong> {{ game }}<br />
			<strong>You might like</strong> 
			{% if userrec.game1 == game %}
			{{ userrec.game2 }}
			{% else %}
			{{ userrec.game1 }}
			{% endif %}
			</p>
			{{ userrec.content|truncatechars:300 }}
			<h5><small>by {{ userrec.author }}</small></h5>
		</div>
		{% endfor %}
		{% else %}
		<div class="span5 well">No recommendations yet.</div>
		{% endif %}
	</div>
</div>
<a href="{% url games_game_index %}">Back to list</a>
{% endblock %}