{% extends "shared/base.html" %}
{% block title %}{{ block.super }}&nbsp;|&nbsp;{{ user_profile.username }}'s Profile{% endblock %}
{% block content %}
<div class="page-header">
	<h1>{{ user_profile.username }}'s Profile
		{% if user == user_profile %}
		<small><a href="{% url profiles_user_update user.username %}" class="icon-pencil"></a></small>
		{% endif %}
	</h1>
</div>
<div class="row">
	<div class="span2">
		<div class="thumbnail">
			<img src="{{ gravatar_url }}"></img>
		</div>
	</div>
	<div class="span5">
		<table class="table">
			<thead>
				<tr>
					<th style="width:125px;">Username</th>
					<td>{{ user_profile.username }}</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>E-mail</th>
					<td>{{ user_profile.email }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ user_profile.first_name }}&nbsp;{{ user_profile.last_name }}</td>
				</tr>
				<tr>
					<th>Gender</th>
					<td>{{ user_profile.get_profile.get_gender_display }}</td>
				</tr>
				<tr>
					<th>Birthday</th>
					<td>{{ user_profile.get_profile.birthday }}</td>
				</tr>
				<tr>
					<th>Website</th>
					<td>{{ user_profile.get_profile.website }}</td>
				</tr>
				<tr>
					<th>Joined</th>
					<td>{{ user_profile.date_joined|date:"F j, Y, H:i" }}</td>
				</tr>
				<tr>
					<th>Last activity</th>
					<td>{{ user_profile.last_login|date:"F j, Y, H:i" }}</td>
				</tr>
				<tr>
					<th>About</th>
					<td>{{ user_profile.get_profile.about }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span5">
		<table class="table">
			<thead>
				<tr>
					<th style="width:125px;">Games on List</th>
					<td>{{ user_profile.list.listitem_set.all|length }}</td>
				</tr>
			</thead>
			<tbody>

				<tr>
					<th>Total Time Spent</th>
					<td>{{ user_profile.list.get_time_spent }} hour(s)</td>
				</tr>
				<tr>
					<th>Total Money Spent</th>
					<td>{{ user_profile.list.get_money_spent }} €</td>
				</tr>
				<tr>
					<th>Average Rating</th>
					<td>{{ user_profile.list.get_average_rating|floatformat:1 }}</td>
				</tr>
				<tr>
					<th style="width:125px;">Reviews</th>
					<td>{{ user_profile.review_set.all|length }}</td>
				</tr>
				<tr>
					<th>Recommendations</th>
					<td>{{ user_profile.userrec_set.all|length }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</br>
<div class="row">
	<div class="span6">
		<h2>Reviews</h2><br />
		{% if reviews %}
		{% for review in reviews %}
		<div class="span5 well">
			<p>
				<h4><a href="{% url profiles_user_details review.author.username %}">{{ review.author.username}}</a>
					<small>on {{ review.date_created }}</small>
				</h4>
				Rating: {{ review.rating }}
			</p>
			<a style="color:#333;"href="{% url reviews_review_details review.id %}">{{ review.content|truncatechars:300}}</a>
		</div>
		{% endfor %}
		{% else %}
		<div class="span5 well">No reviews yet.</div>
		{% endif %}
	</div>
	<div class="span6">
		<h2>Recommendations</h2><br />
		{% if userrecs %}
		{% for userrec in userrecs %}
		<div class="span5 well">
			<p>
				<strong>If you liked</strong> <a href="{% url games_game_details userrec.game1.id %}">{{ userrec.game1.title }}</a><br />
				<strong>You might like</strong> <a href="{% url games_game_details userrec.game2.id %}">{{ userrec.game2.title }}</a>
			</p>
			<p>
				<a style="color:#333;" href="{% url recs_userrec_details userrec.id %}">{{ userrec.content|truncatechars:300 }}</a>
			</p>
			<h5>
				<small>by <a href="{% url profiles_user_details userrec.author.username %}">{{ userrec.author.username }}</a></small>
			</h5>
		</div>
		{% endfor %}
		{% else %}
		<div class="span5 well">No recommendations yet.</div>
		{% endif %}
	</div>
</div>
{% endblock %}