{% extends "shared/base.html" %}
{% block title %}{{ block.super }}&nbsp;|&nbsp;User Recommendation{% endblock %}
{% block content %}
<div class="page-header">
	<h1>
		User Recommendation
		{% if userrec.author == user %}
		<small><a href="{% url recs_userrec_update userrec.id %}" class="icon-pencil"></a></small>
		<small><a href="{% url recs_userrec_delete userrec.id %}" class="icon-remove"></a></small>
		{% endif %}
	</h1>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>If you liked</th>
			<td><a href="{% url games_game_details userrec.game1.id %}">{{ userrec.game1.title }}</a></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>You might like</th>
			<td><a href="{% url games_game_details userrec.game2.id %}">{{ userrec.game2.title }}</a></td>
		</tr>
		<tr>
			<th>Author</th>
			<td><a href="{% url profiles_user_details userrec.author.username %}">{{ userrec.author.username }}</a></td>
		</tr>
		<tr>
			<th>Created</th>
			<td>{{ userrec.date_created|date:"F j, Y, H:i" }}</td>
		</tr>
	</tbody>
</table>
<div class="well">
{{ userrec.content }}
</div>
<a href="{% url recs_userrec_index %}">Back to list</a>
{% endblock %}