{% extends "shared/base.html" %}
{% block title %}{{ block.super }}&nbsp;|&nbsp;Recommendations{% endblock %}
{% block nav_recs %}class="active"{% endblock %}
{% block content %}
<div class="page-header">
	<h1>Recommendations</h1>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th style="width:15px;"></th>
			<th>If you liked</th>
			<th>You might like</th>
			<th>Author</th>
			<th>Created</th>
			<th>Content</th>
		</tr>
	</thead>
	<tbody>
{% for rec in userrec_list %}
		<tr>
			<td><a class="icon-info-sign" href="{% url recs_userrec_details rec.id %}"></a></td>
			<td><a href="{% url games_game_details rec.game1.id %}">{{ rec.game1.title }}</a></td>
			<td><a href="{% url games_game_details rec.game2.id %}">{{ rec.game2.title }}</a></td>
			<td><a href="{% url profiles_user_details rec.author.username %}">{{ rec.author.username }}</a></td>
			<td>{{ rec.date_created|date:"F j, Y, H:i" }}</td>
			<td>{{ rec.content|truncatechars:10 }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
<a href="{% url recs_userrec_create %}">Make a recommendation</a>
{% endblock %}